<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <p>
    <label>
      Name:
      <input type="text" formControlName="fullName" required>
    </label>
  </p>
  <p>
    <label>
      Username:
      <input type="text" formControlName="userName" required>
    </label>
  </p>
  <p>
    <label>
      Email:
      <input type="text" formControlName="email" required>
    </label>
  </p>
  <p>
    <label>
      Phone:
      <input type="text" formControlName="phone" required>
    </label>
  </p>
  <p>
    <label>
      Website:
      <input type="text" formControlName="website">
    </label>
  </p>

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
  <a href="/users" class="cancel">Cancel</a>
</form>

